body {
    background-color: #000;
    background-image: url(../images/protest_2.jpg);
    background-attachment: fixed;
    background-clip: border-box;
    background-origin: padding-box;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.inner {
    position: relative;
    padding: 0 20px;
    min-width: 500px;
    max-width: 1050px;
    margin: 0 auto;

    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
}

.inner .right
{
    position: absolute;
    top: 70px;
    right: 0;
    display: block;
    width: 540px;
}

.inner .thanks
{
    max-width: 800px;
    min-width: 350px;
    position: absolute;
    margin: 0px auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 100px;
    background-color: rgba(26,188,156,.5);
    color: #ffffff;
}

.encourage
{
    text-align: justify;
    padding: 15px;
    margin-bottom: 20px;
    background-color: rgba(26,188,156,.5);
    color: #ffffff;
}

.encourage > p {
    margin: 0px;
    padding: 10px 0px;
}

.encourage > p.catchword {
    font-weight: bold;
    color: #34495e;
}

.join
{
    background-color: rgba(26,188,156,.5);
    padding: 10px 15px;
}

.email-tip
{
    margin: 0px;
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: bold;
    padding-bottom: 5px;
    color: #ffffff;
}

.email
{
    width: 355px;
}

span.highligthed
{
    color: #34495e;
    font-weight: bold;
}

