@main2("vokem.org") {

	<div class="page-wrapper">
		<div class="agency-wrap">
			<div class="container page-container home-container">
				<div class="row">
					<div class="span12">

						<!-- Page for desktop -->

						<div class="header-main hidden-phone">
							<h4>
								¡Gracias por apuntarte!
							</h4>
							<h4>
								Estamos trabajando muy duro para dejarlo todo listo cuanto antes.
							</h4>
							<br>
							<h1>
								vokem.org
							</h1>
							<br>
						</div>

						<!-- Page for phone -->

						<div class="header-main-phone visible-phone">
							<h4>
								¡Gracias por apuntarte!
							</h4>
							<h4>
								Estamos trabajando muy duro para dejarlo todo listo cuanto antes.
							</h4>
							<br>
							<h1>
								vokem.org
							</h1>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
}